/* Estilos para el input */
input {
    padding: 15px;
    font-size: 18px;
    text-align: center;
    border: 3px solid #ccc;
    border-radius: 15px;
    outline: none; /* Elimina el borde al enfocar el input */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave para el borde y la sombra */
    box-shadow: 0 4px 8cqb rgba(0, 0, 0, 0.1); /* Sombra alrededor del input */
  }
  
  /* Estilos cuando el input está enfocado */
  input:focus {
    border-color: aqua; /* Cambia el color del borde al enfocar el input */
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.5); /* Cambia el color de la sombra al enfocar */
  }

  .inputContainer {
    text-align: center;
  }